<div class="lineChart">
    <svg class="graph" role="img" viewBox="0 0 700 400">
       
        <polyline
            fill="none"
            stroke="#0074d9"
            stroke-width="2"
            points="
                30, 100
                80, 60
                100, 80
                120, 60
                140, 100
                160, 90
                180, 80
                200, 110
                220, 110
                240, 70
                260, 100
                280, 100
                300, 40
                320, 120
                340, 100
                360, 100
                380, 120
                400, 60
                420, 70
                540, 100
                560, 80
                600, 50
                620, 70
                700, 70
            "
        />
        
        <g class="grid" id="xGrid">
          <line x1="30" x2="30" y1="0" y2="242"></line>
        </g>
        <g class="grid" id="yGrid">
          <line x1="30" x2="700" y1="242" y2="242"></line>
        </g>
        <g class="labels y-labels">
          <text x="0" y="10">700</text>
          <text x="0" y="45">600</text>
          <text x="0" y="85">500</text>
          <text x="0" y="125">400</text>
          <text x="0" y="165">300</text>
          <text x="0" y="205">200</text>
          <text x="0" y="245">100</text>
        </g>
        <g class="grid y-grid">
            <line x1="30" x2="700" y1="0" y2="0"></line>
            <line x1="30" x2="700" y1="42" y2="42"></line>
            <line x1="30" x2="700" y1="82" y2="82"></line>
            <line x1="30" x2="700" y1="122" y2="122"></line>
            <line x1="30" x2="700" y1="162" y2="162"></line>
            <line x1="30" x2="700" y1="202" y2="202"></line>
            <line x1="30" x2="700" y1="242" y2="242"></line>
        </g>
        <g class="grid x-grid">
            <line x1="100" x2="100" y1="242" y2="0"></line>
            <line x1="200" x2="200" y1="242" y2="0"></line>
            <line x1="300" x2="300" y1="242" y2="0"></line>
            <line x1="400" x2="400" y1="242" y2="0"></line>
            <line x1="500" x2="500" y1="242" y2="0"></line>
            <line x1="600" x2="600" y1="242" y2="0"></line>
            <line x1="700" x2="700" y1="242" y2="0"></line>
        </g>
    </svg>
</div>

