<div class="table-responsive">
    <table class="table taskTable">
        <tbody>
            <tr *ngFor="#server of model">
                <td>
                    <span class="step">{{server.step}}</span>
                </td>
                <td>
                    <div class="textBox">
                        <h5>{{server.name}}</h5>
                        <p class="{{server.tooltipcls}}"><i class="fa fa-clock-o" aria-hidden="true"></i>{{server.time}}</p>
                    </div>
                </td>
                <td>
                    <span class="glypOption">
                        <i class="glyphicon {{server.icon}}"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>