<div class="donut-chart-block block"> 
    <div class="chartWarraper">
        <div class="pie-chart">
            <div id="part1" class="portion-block"><div class="circle"></div></div>
            <div id="part2" class="portion-block"><div class="circle"></div></div>
            <div id="part3" class="portion-block"><div class="circle"></div></div>
            <div id="part4" class="portion-block"><div class="circle"></div></div>
            <div id="part5" class="portion-block"><div class="circle"></div></div>
            <div class="center">
                <p>1,560</p>
                <p class="sales">Sales</p>
            </div>        
        </div>
        <div class="legend">
            <ul>
              <li class="websites"><span>Websites</span></li>
              <li class="logo"><span>Logo</span></li>
              <li class="socialMedia"><span>Social Media</span></li>
              <li class="adwords"><span>Adwords</span></li>
              <li class="ecommerce"><span>E-commerce</span></li>  
            </ul>
        </div>
    </div>
</div>
